flask
Werkzeug==2.2.2
openai
langchain
llama-cpp-python
chainlit
wheel
cryptography
PyCryptodome==3.1
pypdf
llama_index
Tensorflow
torch
Transformers
Streamlit
accelerate
InstructorEmbedding
sentence-transformers